.navbar {
	background-color: #4090cb;
	color: white;
	text-align: center;
	font-size: 30px;
	position: fixed;
	border-radius: 0;
	z-index: 10;
}

.navbar a {
	color: white;
}

.navbar-link {
	text-decoration: none;
	text-align: left;
	position: relative;
	font-size: 25px;
	margin-top: -4px;
	top: 2px;
}

.main-content {
	margin-top: 70px;
}

.col-centered {
	float: none;
	margin: 0 auto;
}

.form {
	background-color: #ebf3f9;
	padding: 20px;
	margin-top: 65px;
	margin-bottom: 5%;
	border-radius: 4px;
}

.info-heading {
	text-align: center;
	color: #4090cb;
	font-weight: bold;
	font-size: 20px;
}

.submit {
	text-align: right;
}

.table-title {
	background-color: #7c003f;
	color: white;
}

.title-content {
	text-decoration: none;
	color: white;
}

.title-content:hover {
	color: #be0a66;
}

.faded {
	color: #d9d9d9;
	pointer-events: none;

}

a {
	text-decoration: none;
}

table {
	text-align: center;
	justify-content: center;
}

th {
	text-align: center;
	width: 10%;
}

.sorted {
	background-color: #99004d;
	color: white;
}



.list-group-item{
    font-size: 15px;
    background-color: #99004d; 
}

.username{
    text-align: center;
    font-color: #be0a66;
}

.accountDetails{
    text-align: center;
    font-size: 40px;
    font-color: #0DA1F0;
    font-style: italic;
}

.list-center{
   text-align: center;
}

.panel-attribute{
    font-size: 20px;
    background-color: #7c003f;
    color: white;
}