<html>
    <head>
    <link rel="stylesheet" type="text/css" href="profile.css">
    </head>
    <body>
        <div class = "sidebar">
          <h3>Sidebar </h3>
          <p> Profile </p>
        </div>
        <div class= "top">

        </div>
        <div class = "info">
          <div style="position: relative">
            <img src="blank_male.png">
          </div>
        </div>
    </body>
</html>
