<div class = "sidebar">
<<<<<<< HEAD
  <h3>Sidebar </h3>
    <p> Profile </p>
</div>
<div>
  <div>
    <img src="blank_male.png">
  </div>
=======
>>>>>>> d14692a3ba6ef5134088c1d75fee131fb06c39ce
</div>
