<div class="row">
<div class="col-xs-6 col-centered form">

<div class="info-heading"><h1>Sign in</h1></div>

{{#if errors}}
  <h3>Errors occured</h3>
  {{#each errors}}
    <p>Path: {{path}}</p>
    <p>Message: {{message}}</p>
    <hr />
  {{/each}}
{{/if}}

  <form name="create-get" action="/sign-in" method="post">
  <span class="row"></span>
  <div class="form-group">
    <label>Username</label>
    <input type="text" minLength=4 class="form-control" name="username" placeholder="Welcome back! Uh...who are you again?" required="Please enter your username">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" minLength=6 class="form-control" name="password" placeholder="Hope you didn't forget." required="Please enter your password">
  </div>
  
  <div class="submit"><button type="submit" class="btn btn-info">Sign In</button></div>
  </form>
</div>
</div>