
<div class="row">
	<div class="col-xs-12">
	<center>
	<h1><a href ="/home" style="text-decoration: none">Lift-Off Fitness</a></h1>
	<h3>Outlift your friends!</h3>
	<h6 title="Gym Labs">Better tagline coming soon...</h6>
	</center>
	</div>
</div>
