<div class="container-fluid" id="home-bg">
	<div class="row">
		<div class="col-xs-12">
		<center>
		<h1 class="liftoff-title">Lift-Off Fitness</a></h1>
		<h3 class="liftoff-tagline" title="Gym Labz">Outlift your friends!</h3>
		</center>
		</div>
	</div>
</div>