<!DOCTYPE html>
<html>
<head>

  <title>Lift-Off-Fitness</title>

  <meta charset="utf-8">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Custom css -->
  <link href="http://localhost:8000/css/styles.css" rel="stylesheet">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <script>
    ;(function() {
      $('#logout').click(function() {
        $.post("/logout", function() {
          window.location.href = '/';
        });
      });
    })();
  </script>

</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 navbar">
    <div class="navbar-collapse">
      <a class="btn btn-lg navbar-left navbar-link" href="/"><strong>Lift-Off Fitness</strong></a></li>
        <ul class="nav navbar-nav navbar-right">
          <li><a class="btn btn-lg nav-btn" href="/leaderboard">Leaderboard</a></li>
          <li><a class="btn btn-lg nav-btn" href="/users">Spotters</a></li>
          {{#if cur_user}}
            <li><a class="btn btn-lg nav-btn" href="/profile">Profile</a></li>
            <li id="logout"><a class="btn btn-lg nav-btn" href="#">Sign Out</a></li>
          {{ else }}
            <li><a class="btn btn-lg nav-btn" href="/sign-up">Sign Up</a></li>
            <li><a class="btn btn-lg nav-btn" href="/sign-in">Sign In</a></li>
          {{/if}}
        </ul>
    </div>
  </div>
  <div class="main-content">
  {{{ body }}}
  </div>
</div>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
