<!DOCTYPE html>
<html>
<head>
  <title>Lift-Off-Fitness</title>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
    <center>
      <h1>
      <a href="/home" style="color: white; background-color: #2f6ba1; text-decoration: none"><strong>&emsp;&emsp;Placeholder Menu Bar&emsp;&emsp;</a></strong>&emsp;&emsp;&emsp;
      <a class="btn btn-lg btn-primary" href="/sign-in" role="button">Sign In</a>
      <a class="btn btn-lg btn-primary" href="/sign-up" role="button">Sign Up</a>
      <a class="btn btn-lg btn-primary" href="/users" role="button">List of Users</a>
      </h1>
    </center>
    </div>
  </div>
  {{{ body }}}
</div>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>