<div class="row">
<div class="col-xs-12">
<center><h1><strong>Leaderboards</strong></h1></center>
</div>
</div>

<!-- Prints out information for each User -->
{{#each users}}
<div class="row">
  <div class="col-xs-12">
<table style = "width: 100%">
  <tr>
    <td><h4>Usernames</h4></td>
    <td><h4>Bench Press stats</h4></td>
  </tr>
  <tr>
    <td> {{username}}</td>
    <td> {{bench_press}}</td>
  </tr>
</table>
  <hr />
  </div>
</div>
{{/each}}
